# ignore folder
samples/*
zephyrproject
tools/*
build*
source/external/*

# ignore specific files
*JLink_Linux_V888_x86_64.deb

# safety
.env/*
*.pem
*.key

# but allow
!.env/README.md

# misc files
*.DS_Store

# all local
*local*

# local-only working files
.plans/
.userguide/
.helpers/
*__pycache__*
scripts/sync.sh