/*
 * AkidaTag hardware revision 1: the camera shares SPIM3 with flash IC1, both
 * flashes are Micron MT25QU128ABA, and the board has a red and a green LED, a
 * user button and a DFU button.
 */

/ {
	chosen {
		nordic,pm-ext-flash = &ext_flash;
	};

	gpios {
		akdreset: akdreset {
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		};

		cam_enb: cam_enb {
			gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		};
	};

	custom_buttons {
		compatible = "gpio-keys";

		user_btn: user_btn {
			gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Button";
		};

		dfu_btn: dfu_btn {
			gpios = <&gpio1 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "DFU Button";
		};
	};

	custom_leds {
		compatible = "gpio-leds";

		led_red: led_red {
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		};

		led_green: led_green {
			gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		akdreset = &akdreset;
		cam-enb = &cam_enb;
		user-button = &user_btn;
		mcuboot-button0 = &dfu_btn;
		mcuboot-led0 = &led_red;
	};
};

&spi4 {
	akd_flash: mt25qu128aba@1 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <8000000>;
		size = <DT_SIZE_M(128)>;
		jedec-id = [20 bb 18];
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

&spi3 {
	cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>,
		   <&gpio0 18 GPIO_ACTIVE_LOW>;

	camera: camera@0 {
		compatible = "spi-device";
		reg = <0>;
		spi-max-frequency = <8000000>;
		label = "CAMERA";
	};

	/* Named flash@0 although it is on chip select 1: the node name is also the
	 * device name, which the firmware image carries.
	 */
	ext_flash: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <8000000>;
		size = <DT_SIZE_M(128)>;
		jedec-id = [20 bb 18];
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};
